@charset "UTF-8";

/**
 * 
 * @authors hsy
 * @date    2018-01-12 16:33:49
 */

html,body,div,span,p,a,dl,dt,dd,ul,li,ol,h1,h2,h3,h4,h5,h6,pre,
form,input,textarea,label,table,caption,tbody,tfoot,thead,tr,th,td,header,footer,
article,nav,section,video,canvas {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
}

html {
    line-height: 1;
}

html,
body {
	width:100%;
    max-width: 750px;
    margin:0 auto;
    height: 100%;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
p{
    margin-bottom: 5px;
}
a {
    color: #333;
    text-decoration: none;
}

a img {
    border: none;
}

img {
    max-width: 100%;
    border: 0;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.text-left{text-align:left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.pull-right {float: right;}
.pull-left {float: left;}

.hide {display: none!important;}
.small{font-size: .8em;}
.large{font-size: 1.2em;}
.underline{text-decoration:underline;}
/*forms*/

input[type="submit"],
input[type="reset"],
input[type="button"] {
    width: 100%;
}

select,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
    width: 100%;
    height: .7rem;
    line-height: .5rem;
    -webkit-appearance: none;
    padding: 0 10px;
    background: #fff;
    border: .02rem solid #afaeaf;
    border-radius: .15rem;
    outline: none;
    color: #333;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #bfbfbf;
    font-size: .8em;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 20px;
}

input[type="search"]:focus {
    text-align: left;
}

textarea {
    -webkit-appearance: none;
    height: auto;
    resize: none;
}

/*内外边距*/
.m0{margin: 0px!important;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.mt5{margin-top: 5px;}
.mb0{margin-bottom: 0!important;}
.mb5{margin-bottom: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mb10{margin-bottom: 10px!important;}
.mb15{margin-bottom: 15px!important;}
.mb20{margin-bottom: 20px!important;}

.p0{padding: 0!important;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.pt0{padding-top: 0!important;}
.pr0{padding-right: 0!important;}
.pb0{padding-bottom: 0!important;}
.pl0{padding-left: 0!important;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.wth-100{width:100%!important;}
/* color */
.red{color:#f00;}
.white{color: #fff;}

.border{
    border: .02rem solid #afaeaf;
    border-radius: .15rem;
}
body{
	font-size: 16px;
}
/*自适应屏幕字体大小设置*/
@media screen and (min-width: 400px){
	body{
		font-size: 17px;
	}
}
@media screen and (max-width: 375px){
	body{
		font-size: 15px;
	}
}
@media screen and (max-width: 320px){
	body{
		font-size: 14px;
	}
}