body {
	height: 100%;
}
.container {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: .9rem;
	color: #000;
	overflow: hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch; 
}
#personalInfo{
	background:url(../images/info-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#tmallBinding{
	background:url(../images/tmall-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#orders{
	background:url(../images/order-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#binding{
	background:url(../images/binding-bg.jpg) top center no-repeat;
	background-size: cover;
	padding: .2rem .5rem;
}
#gift{
	background:url(../images/gift-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
	padding: .9rem .6rem;
}
#points{
	background:url(../images/points-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#coupon{
	background:url(../images/coupon-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
	padding:.9rem .6rem;
}
#success{
	background:url(../images/success-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#vipInfo{
	background:url(../images/info-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#orderInfo{
	background: url(../images/order_info-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#giftExchange{
	background: url(../images/order_info-bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
#profile{
	background: #000;
	padding: 0;
}
.title{
	position: relative;
	font-size: 1.8em;
	text-align: center;
	margin-bottom: 1rem;
}
.title:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -.15rem;
	margin:auto;
	width: 1.4rem;
	height: .06rem;
	background-color: #262626;
}
/*btn*/
.btn {
	display: inline-block;
	padding: 5px 15px;
	margin: 0 5px;
}
.btn-save{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-save.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-confirm{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-confirm.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-change{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-change.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-yes{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-yes.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-no{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-no.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-binding{
	display: inline-block;
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	text-align: center;
	background-color: #eb0e2d;
	color:#fff;
}
.btn-code{
	-webkit-appearance:none;
	width: 3rem;
	height: .55rem;
	border:0;
	border-radius: 0;
	line-height: .55rem;
	background-color: #eb0e2d;
	color: #fff;
	text-align: center;
	font-size: .8em;
}
.btn-perfect{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-perfect.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-submit_order{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-submit_order.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.btn-exchange{
	width: 1.8rem;
	height: .7rem;
	line-height: .7rem;
	background: url(../images/btn-exchange.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
/*icons*/
.icon{
	display: block;
	width: .5rem;
	height: .5rem;
	/*margin: auto;*/
	background: url(../images/icon.png) no-repeat;
	background-size:.5rem auto;
}
.icon-tmall{
	background-position: 0 0;
}
.icon-order{
	background-position: 0 -.5rem;
}
.icon-person{
	background-position: 0 -1rem;
}
.icon-email{
	background-position: 0 -1.5rem;
}
.icon-city{
	background-position: 0 -2rem;
}
.icon-heart{
	background-position: 0 -2.5rem;
}
.icon-job{
	background-position: 0 -3rem;
}
.icon-people{
	background-position: 0 -3.5rem;
}
.icon-children{
	background-position: 0 -4rem;
}
.icon-card{
	background-position: 0 -4.5rem;
}
.icon-mobile{
	background-position: 0 -5rem;
}
.icon-girl{
	background-position: 0 -5.5rem;
}
.icon-cake{
	background-position: 0 -6rem;
}
.icon-lang{
	background-position: 0 -6.5rem;
}
.icon-store{
	background-position: 0 -7rem;
}
.icon-cloth{
	background-position: 0 -7.5rem;
}
.icon-diamond{
	background-position: 0 -8rem;
}
.icon-key{
	background-position: 0 -8.5rem;
}
.icon-boy{
	background-position: 0 -9rem;
}
.icon-coupon{
	background-position: 0 -9.5rem;
}
.icon-bar{
	background-position: 0 -10rem;
}
.icon-right{
	display: block;
	width: .5rem;
	height: .5rem;
	margin: auto;
	background: url(../images/icon-right.png) no-repeat;
	background-size:.5rem auto;
}
/*forms*/
.form-content{}
.form-group{
	display: flex;
	display: -webkit-flex;
	flex-direction:row;
	align-items:center;
	justify-content: space-between;
	margin-bottom: .45rem;
}
.form-group>label{
	display: block;
	margin-right: .2rem;
}
.form-control{
	width: 100%;
	border-bottom: .02rem dashed #3c3c3c;
}
.form-control-select,
.flex-row,
.flex-column{
	display: flex;
	display: -webkit-flex;
	width: 100%;
}
.flex-row{
	flex-direction:row;
}
.flex-column{
	flex-direction:column;
	height: 100%;
}
.flex-wrap{
	flex-wrap:wrap;

}
.flex-center{
	justify-content: center;
    align-items: center;
}
.align-self{
	align-self:flex-start;
}
.align-self-center{
	align-self:center;
}
.form-control-select .control-select{
	width: 50%;
}
.form-input {
	width: 100%;
	border: 0;
	padding: 4px 5px;
	background: transparent;
}
.form-input::-webkit-input-placeholder{
	color: #000;
}
.form-input.error::-webkit-input-placeholder{
	color: #eb0e2d;
}
.control-select{
	width: 100%;
	/*padding-bottom: 8px;*/
}
.control-select>select{
	-webkit-appearance: none;
	width: 100%;
	padding: 4px 10px;
	border: 0;
	/*box-shadow: inset 2px 0px 15px 5px #dcdcdc;*/
	background: transparent;
}
.form-checkbox{
	-webkit-appearance: none;
	width: .3rem;
	height: .3rem;
	margin: 0 .1rem -.05rem .05rem;
	background: url(../images/unchecked.png) center no-repeat;
	background-size: .3rem;
}
.form-checkbox:checked{
	background: url(../images/checked.png) center no-repeat;
	background-size: .3rem;
}

#orders .form-submit,
#tmallBinding .form-submit,
#points .form-submit{
	position: absolute;
	bottom: 1rem;
	left: 0;
	right: 0;
	margin-top: 5.6rem;
	padding-bottom: 1rem;
}
.table{
	max-height: 6rem;
	overflow: hidden;
	overflow-y:scroll; 
}
.tab-head{
	margin-bottom: .2rem;
}
.tab-head .row{
	font-weight: bold;
	text-align: center;
}
.tab-head,
.column{
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: .08rem 0;
}
.column{
	border-bottom: .02rem dashed #3c3c3c;
}
.row{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.row:nth-child(1){
	width: 15%;
}
.row:nth-child(2),
.row:nth-child(3){
	width: 30%;
}
#points .row:first-child{
	text-align: left;
}
.row:last-child{
	text-align: right;
}
#points .row:nth-child(1),
#points .row:nth-child(2){
	width:30%;
}
#points .row:nth-child(3){
	width: 40%;
}
/*layer*/
#layer{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,.8);
	z-index: 999;
}
#layer-wrap{
	width: 90%;
	margin: auto;
	background-color: #fff;
	overflow: hidden;
	overflow-y: auto;
}
.layer-content{
	position: relative;
	margin: .3rem;
	padding: .3rem;
	border:.02rem dashed #3c3c3c;
	font-size: .8em;
}
.notice{
	border: .2rem solid #000;
	margin: 0;
}
.close{
	position: absolute;
	right: .3rem;	
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: url(../images/close.png) center no-repeat;
	background-size: .3rem;
}
.items{
	margin-top: .5rem;
}
.items-title{
	margin-bottom: .2rem;
	font-weight: bold;
	text-align: center;
}
#binding .form-content{
	margin-top: 5rem;
	background:url(../images/form-bg.png) center no-repeat;
	background-size: 100% 100%;
	padding: .5rem;
}
.gift-items{
}
.gift-items div:nth-child(even){
	margin-left: 8%;
}
.box{
	position: relative;
	width: 46%;
	height: 3rem;
	background-color: #eee;
	margin-bottom: .4rem;
}
.box-banner{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: .65rem;
	line-height: .65rem;
	text-align: center;
	background: url(../images/banner-bg.png) center no-repeat;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	text-overflow:ellipsis;
	font-size: .8em;
}
/**
 * progressBar
 */
.box-img>img{
	width: 2.1rem;
}
#progressBar{
	position: relative;
	width: 2.1rem;
	height: 2.1rem;
}
.logo{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin:auto;
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	background:#fff url(../images/loading-logo.png) center no-repeat;
	background-size: 1.8rem;
}
.bar{
	position: absolute;
	display: block;

}
.bar1{
	top: 0;
	left: -.4rem;
	display: block;
	width: 2.75rem;
	height: .15rem;
}
.bar2,
.bar3{
	width: 2.7rem;
	height: .15rem;
	top: 1.13rem;
}
.bar2{
	right: -.91rem;
	transform: rotate(122deg);
	-webkit-transform: rotate(122deg);
}
.bar3{
	left: -1.05rem;
	transform:rotate(-120deg);
	-webkit-transform:rotate(-120deg);
}
.bar>span{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: inline-block;
}
.progress_1,
.progress_2,
.progress_3{
	background: #eb0e2d;
	/*animation:load 2s ease-in;*/
	width: 0;
}
#loadingFail{
	display: none;
}

.points-total{
	margin-bottom: .7rem;
}
.coupon-list{}
.coupon-list>dd+dd{
	margin-top: .25rem;
}
.coupon-item{
	display: table;
	width: 100%;
	background: url(../images/coupon-item-bg.png)center no-repeat;
	background-size: 100% 100%;
}
.coupon-item>div{
	display: table-cell;
	vertical-align: middle;
}
.coupon-rmb{
	position: relative;
	width: 2rem;
	text-align: center;
	font-size: 3em;
	color: #ec0928;
}
.coupon-rmb:after{
	content: '￥';
	position: absolute;
	right: .08rem;
	top: .15rem;
	font-size: 14px;
}
.coupon-content{
	padding: .2rem;
	font-size: .6em;
}
.fsize{
	font-size: 2em;
}
.succ-logo>img{
	width: 2.1rem;
	margin: 1.2rem auto;
}
.succ-words{
	line-height: 2;
}
.succ-btn{
	margin-top: 1.2rem;
}
.profile-header{
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding: .8rem .3rem .5rem .3rem;
	background: url(../images/vip-header.jpg) top center no-repeat;
	background-size: 100%;
}
.user-info{
	color: #fff;
}
.word-img>img{
	width: 2rem;
}
.user-gravatar{
	position: relative;
}
.img-border{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	border:.02rem solid #fff;
	border-radius: 50%;
	overflow: hidden;
}
.btn-edit{
	position: absolute;
	bottom: 0;
	right: -.15rem;
	display: block;
	width: .5rem;
	height: .5rem;
	background: url(../images/btn-edit.png) center no-repeat;
	background-size: 100%;
	text-indent: -999px;
}
.profile-wrap{
	margin: -.3rem .3rem 0 .3rem;
	background-color: #fff;
	color: #000;
}
.profile-items{
	position: relative;
	padding:.2rem;
}
.title-logo{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -.6rem;
	width: 1.6rem;
}
.items-table{
	position: relative;
	padding: .2rem;
}
.items-table:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: .2rem;
	height: .2rem;
	border-top:.02rem solid #000;
	border-right:.02rem solid #000;
}
.items-table:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: .2rem;
	height: .2rem;
	border-bottom:.02rem solid #000;
	border-left:.02rem solid #000;
}
.items-table dd{
	display: table;
	width:100%;
	table-layout: fixed;
	text-align: center;
	border: 1px solid #fff;
}
.items-table dd>div{
	display: table-cell;
	padding: .3rem .2rem;
	width: 33.34%;
	vertical-align: bottom;
}
.items-table dd:first-child:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: .2rem;
	height: .2rem;
	border-top:.02rem solid #000;
	border-left:.02rem solid #000;
}
.items-table dd:last-child:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: .2rem;
	height: .2rem;
	border-bottom:.02rem solid #000;
	border-right:.02rem solid #000;
}
.item-row+.item-row{
	border-top: 1px dashed #000;
}
.item-column+.item-column{
	border-left: 1px dashed #000;
}
.item-column>span{
	display: block;
}
.pos-r{
	position: relative;
}
.coupon-num{
	display: block;
	width: .5rem;
	height: .5rem;
	line-height: .5rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	color: #fff;
	font-size: .8em;
}
.activity-list{}
.activity-list>dt{
	background-color: #000;
	padding: .08rem .1rem;
	color: #fff;
	font-weight: bold;
	margin-top: .5rem;
}
.activity-list>dd{
	position: relative;
	padding: .4rem 0 .4rem 0rem;
}
.activity-list>dd:before{
	content: '';
	position: absolute;
	left: .1rem;
	top: .5rem;
	display: block;
	width: 0;
	height: 0;
	border-width: .12rem 0 .12rem .18rem;
	border-style: solid;
	border-color:transparent transparent transparent #ec0928;
}
.activity-list>dd.active:before{
	content: '';
	position: absolute;
	left: .1rem;
	top: .55rem;
	display: block;
	width: 0;
	height: 0;
	border-width: .18rem .12rem 0 .12rem;
	border-style: solid;
	border-color:#ec0928 transparent transparent transparent;
}
.activity-list>dd+dd{
	border-top: 1px dashed #000;
}
.activity-list .expand{
	display: block;
	color: #000;
	cursor: pointer;
	padding-left: .4rem;
}
.expand-content{
	display: none;
}
.active .expand-content{
	display: block;
}
.flex-row>label{
	align-self:center;
}
#profile .icon{
	margin: auto;
}
.qrcode{
	padding:.5rem;
}
.qrcode>img{
	width: 4rem;
	height: 4rem;
}
.tab-container{
	margin: .2rem;
	border:.05rem solid #000;
	border-radius: 0;
}
.tab-caption{
	display: table;
	table-layout: fixed;
	width: 100%;
}
.tab-caption>a{
	display: table-cell;
	width: 1%;
	text-align: center;
	padding: .1rem .2rem .2rem;
}
.tab-caption .white{
	color: #000;
	background-color: #fff;
}
.tab-caption .red{
	color: #fff;
	background-color: #d13535;
}
.tab-caption .black{
	color: #fff;
	background-color: #000;
}
.tab-content{
	display: none;
	margin: .2rem;
	border:.02rem solid #000;
	border-radius: 0;
	font-size: .8em;
}
.tab-content.active{
	display: block;
}
.tab-content .column{
	border-bottom: 0;
	padding:0;
	font-size: 1em;
}
.tab-content .column+.column{
	border-top:.02rem solid #000;
}
.tab-content .column>span{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding:.3rem .1rem;

}
.tab-content .column>span:first-child{
	width: 32%;
}
.tab-content .column>span+span{
	border-left: .02rem solid #000;
}

/*form reset*/
.form-group.reset{}
.form-group.reset>label{

}
.reset .form-control{
	width: 3.6rem;
	border: 0;
}
.reset .form-input,
.reset select{
	border: .02px solid #000;
	border-radius: 0;
}
.form-textarea{
	border: .02rem solid #000;
	border-radius: 0;
	height: 2rem;
	resize:none;
}
.reset>.form-control-select>.control-select>select{
	width: 70%;
	margin-right: 5px;
}
.gift-logo{
	width: 2rem;
	margin:auto;
}